$primary: #004286;
$secondary: #00a851;
$success: #40be7d;
$danger: #e80c20;
$yellow: #efd173;
$light: #fff;
$dark: #000;
$grey: #c5c0b9;

$primary-font: 'Roboto';



// Mix Ratios

$ratio-50: 10%;
$ratio-100: 10%;
$ratio-200: 10%;
$ratio-300: 10%;
$ratio-400: 10%;
$ratio-600: 10%;
$ratio-700: 10%;
$ratio-800: 10%;
$ratio-900: 10%;