@import '~@angular/material/theming';
@import './../variables';


$mat-custom-primary: (
  50: #e0e8f0,
  100: #b3c6db,
  200: #80a1c3,
  300: #4d7baa,
  400: #265e98,
  500: #004286,
  600: #003c7e,
  700: #003373,
  800: #002b69,
  900: #001d56,
  A100: #88a5ff,
  A200: #557eff,
  A400: #2258ff,
  A700: #0844ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-custom-secondary: (
  50: #e0f5ea,
  100: #b3e5cb,
  200: #80d4a8,
  300: #4dc285,
  400: #26b56b,
  500: #00a851,
  600: #00a04a,
  700: #009740,
  800: #008d37,
  900: #007d27,
  A100: #aaffbd,
  A200: #77ff96,
  A400: #44ff6e,
  A700: #2aff5b,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-custom-warn: (
  50: #ffe3e3,
  100: #ffb9b9,
  200: #ff8b8b,
  300: #ff5d5d,
  400: #ff3a3a,
  500: $danger,
  600: #ff1414,
  700: #ff1111,
  800: #ff0d0d,
  900: #ff0707,
  A100: #ffffff,
  A200: #fff4f4,
  A400: #ffc1c1,
  A700: #ffa7a7,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);